<a href="https://colab.research.google.com/drive/1m4txj2euGGplKLIpnA0IzGsD9FJ9uSCF?usp=sharing"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Table Of Contents

- <a href='#0'>0. Install Turicreate </a>  

- <a href='#1'>1. Load the dataset</a>

- <a href='#2'>2. Building the Recommendation Engine</a>

  - <a href='#21'>2.1. Recommendations based on Scaled/Normalized PurchaseCount</a>

    - <a href='#211'>2.1.1. Sample Recommendations</a>
    - <a href='#212'> 2.1.2. Model Evaluation</a>

  - <a href='#22'>2.2. Recommendations based on Non-Scaled PurchaseCount</a>

    - <a href='#221'>2.2.1. Sample Recommendations</a>
    - <a href='#222'>2.2.2. Model Evaluation</a>


- <a href='#3'>3. Conclusion</a>

---

# <a id='0'> 0. Install Turicreate </a>

In [ ]:

!pip install turicreate

Collecting turicreate
  Downloading https://files.pythonhosted.org/packages/f0/d9/305d14b84c03045c73c016f21bc8d043dfa2d777b4cc3dddab1d879f6c49/turicreate-6.4-cp36-cp36m-manylinux1_x86_64.whl (92.0MB)
     |████████████████████████████████| 92.0MB 55kB/s
Requirement already satisfied: pillow>=5.2.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (7.0.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.18.5)
Requirement already satisfied: numba<0.51.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (0.48.0)
Collecting resampy==0.2.1
  Downloading https://files.pythonhosted.org/packages/14/b6/66a06d85474190b50aee1a6c09cdc95bb405ac47338b27e9b21409da1760/resampy-0.2.1.tar.gz (322kB)
     |████████████████████████████████| 327kB 50.0MB/s
Requirement already satisfied: pandas>=0.23.2 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.0.5)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.15.0)
Collecting coremltools==3.3
  Downloading https://files.pythonhosted.org/packages/77/19/611916d1ef326d38857d93af5ba184f6ad7491642e0fa4f9082e7d82f034/coremltools-3.3-cp36-none-manylinux1_x86_64.whl (3.4MB)
     |████████████████████████████████| 3.4MB 46.3MB/s
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.4.1)
Collecting tensorflow<2.1.0,>=2.0.0
  Downloading https://files.pythonhosted.org/packages/87/5e/254f5baeb331a7c9065b796d786cd07c5db79f2d76a496b74891a6521e25/tensorflow-2.0.3-cp36-cp36m-manylinux2010_x86_64.whl (86.4MB)
     |████████████████████████████████| 86.4MB 61kB/s
Requirement already satisfied: decorator>=4.0.9 in /usr/local/lib/python3.6/dist-packages (from turicreate) (4.4.2)
Requirement already satisfied: prettytable==0.7.2 in /usr/local/lib/python3.6/dist-packages (from turicreate) (0.7.2)
Requirement already satisfied: requests>=2.9.1 in /usr/local/lib/python3.6/dist-packages (from turicreate) (2.23.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from numba<0.51.0->turicreate) (50.3.0)
Requirement already satisfied: llvmlite<0.32.0,>=0.31.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba<0.51.0->turicreate) (0.31.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.2->turicreate) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.2->turicreate) (2018.9)
Requirement already satisfied: protobuf>=3.1.0 in /usr/local/lib/python3.6/dist-packages (from coremltools==3.3->turicreate) (3.12.4)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (1.32.0)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (1.12.1)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (0.10.0)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (1.1.2)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (1.1.0)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (0.2.0)
Collecting tensorflow-estimator<2.1.0,>=2.0.0
  Downloading https://files.pythonhosted.org/packages/fc/08/8b927337b7019c374719145d1dceba21a8bb909b93b1ad6f8fb7d22c1ca1/tensorflow_estimator-2.0.1-py2.py3-none-any.whl (449kB)
     |████████████████████████████████| 450kB 48.4MB/s
Collecting tensorboard<2.1.0,>=2.0.0
  Downloading https://files.pythonhosted.org/packages/76/54/99b9d5d52d5cb732f099baaaf7740403e83fe6b0cedde940fabd2b13d75a/tensorboard-2.0.2-py3-none-any.whl (3.8MB)
     |████████████████████████████████| 3.8MB 46.2MB/s
Collecting keras-applications>=1.0.8
  Downloading https://files.pythonhosted.org/packages/71/e3/19762fdfc62877ae9102edf6342d71b28fbfd9dea3d2f96a882ce099b03f/Keras_Applications-1.0.8-py3-none-any.whl (50kB)
     |████████████████████████████████| 51kB 7.3MB/s
Requirement already satisfied: wheel>=0.26; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (0.35.1)
Collecting gast==0.2.2
  Downloading https://files.pythonhosted.org/packages/4e/35/11749bf99b2d4e3cceb4d55ca22590b0d7c2c62b9de38ac4a4a7f4687421/gast-0.2.2.tar.gz
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (3.3.0)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (0.8.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (2.10)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (0.4.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (1.0.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (3.2.2)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (1.17.2)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.8->tensorflow<2.1.0,>=2.0.0->turicreate) (2.10.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (1.3.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from markdown>=2.6.8->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (1.7.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (4.1.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (4.6)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (3.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (3.1.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.6/dist-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (0.4.8)
Building wheels for collected packages: resampy, gast
  Building wheel for resampy (setup.py) ... done
  Created wheel for resampy: filename=resampy-0.2.1-cp36-none-any.whl size=320848 sha256=d98a21d4062198ee886688b53ca304d3d30665edcd1a443abefd2910d2915247
  Stored in directory: /root/.cache/pip/wheels/ff/4f/ed/2e6c676c23efe5394bb40ade50662e90eb46e29b48324c5f9b
  Building wheel for gast (setup.py) ... done
  Created wheel for gast: filename=gast-0.2.2-cp36-none-any.whl size=7542 sha256=56ba3e50be9ce92408ae0af2fe3e85d30f1125a002c85cde7f799791d8308148
  Stored in directory: /root/.cache/pip/wheels/5c/2e/7e/a1d4d4fcebe6c381f378ce7743a3ced3699feb89bcfbdadadd
Successfully built resampy gast
ERROR: tensorflow-probability 0.11.0 has requirement gast>=0.3.2, but you'll have gast 0.2.2 which is incompatible.
Installing collected packages: resampy, coremltools, tensorflow-estimator, tensorboard, keras-applications, gast, tensorflow, turicreate
  Found existing installation: resampy 0.2.2
    Uninstalling resampy-0.2.2:
      Successfully uninstalled resampy-0.2.2
  Found existing installation: tensorflow-estimator 2.3.0
    Uninstalling tensorflow-estimator-2.3.0:
      Successfully uninstalled tensorflow-estimator-2.3.0
  Found existing installation: tensorboard 2.3.0
    Uninstalling tensorboard-2.3.0:
      Successfully uninstalled tensorboard-2.3.0
  Found existing installation: gast 0.3.3
    Uninstalling gast-0.3.3:
      Successfully uninstalled gast-0.3.3
  Found existing installation: tensorflow 2.3.0
    Uninstalling tensorflow-2.3.0:
      Successfully uninstalled tensorflow-2.3.0
Successfully installed coremltools-3.3 gast-0.2.2 keras-applications-1.0.8 resampy-0.2.1 tensorboard-2.0.2 tensorflow-2.0.3 tensorflow-estimator-2.0.1 turicreate-6.4

# <a id='1'> 1. Load the Dataset </a>

In [ ]:
import numpy as np
import pandas as pd
import turicreate as tc

In [ ]:
df = pd.read_csv("RecommenderEngine.csv", )

In [ ]:
df.head()

   CustomerKey  ... ProductSubcategoryAlternateKey
0        21768  ...                              2
1        28389  ...                              1
2        25863  ...                              1
3        14501  ...                              2
4        11003  ...                              1

[5 rows x 7 columns]

In [ ]:
df_custName = df['FirstName'] +' '+ df['MiddleName'] +' '+ df['LastName']

---
# <a id='2'> 2. Building the Recommendation Engine </a>

In [ ]:
# Creating the dataset

df2 = pd.DataFrame(data = df[['CustomerKey', 'ProductSubcategoryAlternateKey', 'EnglishProductSubcategoryName']])
df2['CustomerName'] = df_custName.copy()
df2.head()

   CustomerKey  ...        CustomerName
0        21768  ...       Cole A Watson
1        28389  ...  Rachael M Martinez
2        25863  ...     Sydney S Wright
3        14501  ...                 NaN
4        11003  ...                 NaN

[5 rows x 4 columns]

In [ ]:
df2.to_csv('CustomerProduct_Dataset.csv', index=False)

In [ ]:
df = pd.read_csv("CustomerProduct_Dataset.csv", )
df.head()

   CustomerKey  ...        CustomerName
0        21768  ...       Cole A Watson
1        28389  ...  Rachael M Martinez
2        25863  ...     Sydney S Wright
3        14501  ...                 NaN
4        11003  ...                 NaN

[5 rows x 4 columns]

In [ ]:
df.ProductSubcategoryAlternateKey.value_counts()

37    17332
2      8068
28     7981
31     6440
1      4970
21     3332
19     2190
3      2167
30     2121
20     1430
22     1019
29      908
32      733
23      568
25      562
26      328
27      249
Name: ProductSubcategoryAlternateKey, dtype: int64

In [ ]:
subCatCount = df.ProductSubcategoryAlternateKey.value_counts()
# subCat = subCatCount.index
# PurchaseCount = subCatCount.values

In [ ]:
df_subCat = pd.DataFrame({'ProductSubcategoryAlternateKey':subCatCount.index, 'PurchaseCount':subCatCount.values,})

In [ ]:
df_final = df.drop_duplicates(keep='first', inplace=False)
df_final.shape

(44734, 4)

In [ ]:
df_final.head()

   CustomerKey  ...        CustomerName
0        21768  ...       Cole A Watson
1        28389  ...  Rachael M Martinez
2        25863  ...     Sydney S Wright
3        14501  ...                 NaN
4        11003  ...                 NaN

[5 rows x 4 columns]

In [ ]:
df_final_merge = df_final.merge(df_subCat, on='ProductSubcategoryAlternateKey')
df_final_merge.head()

   CustomerKey  ProductSubcategoryAlternateKey  ...      CustomerName PurchaseCount
0        21768                               2  ...     Cole A Watson          8068
1        14501                               2  ...               NaN          8068
2        27645                               2  ...     Colin G Anand          8068
3        16624                               2  ...  Albert R Alvarez          8068
4        27621                               2  ...               NaN          8068

[5 rows x 5 columns]

In [ ]:
df_custKeyName = pd.DataFrame(data = df_final_merge[['CustomerKey', 'CustomerName']])
df_custKeyName.drop_duplicates(keep='first', inplace=True)

In [ ]:
subCatNames = df_final_merge[['ProductSubcategoryAlternateKey', 'EnglishProductSubcategoryName']]
df_subCatNames = subCatNames.drop_duplicates(keep='first', inplace=False)
df_subCatNames

       ProductSubcategoryAlternateKey EnglishProductSubcategoryName
0                                   2                    Road Bikes
6397                                1                Mountain Bikes
10486                              28             Bottles and Cages
15034                               3                 Touring Bikes
17177                              31                       Helmets
23137                              37               Tires and Tubes
31627                              27                   Bike Stands
31870                              21                       Jerseys
35062                              20                        Gloves
36438                              30                       Fenders
38548                              19                          Caps
40680                              23                         Socks
41239                              32               Hydration Packs
41958                              25                         Vests
42515                              29                      Cleaners
43390                              26                    Bike Racks
43715                              22                        Shorts

In [ ]:
df_subCatNames.shape

(17, 2)

In [ ]:
df_final_merge.to_csv('ProductCountDataset.csv', index=False)
actions = tc.SFrame.read_csv('ProductCountDataset.csv')

Finished parsing file /content/ProductCountDataset.csv

Parsing completed. Parsed 100 lines in 0.120041 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /content/ProductCountDataset.csv

Parsing completed. Parsed 44734 lines in 0.068077 secs.

### <a id='21'> 2.1. Recommendations based on Scaled/Normalized PurchaseCount </a>

In [ ]:
# Standardizing ProductCount

from sklearn.preprocessing import StandardScaler

df_final_merge_scaled = df_final_merge.copy()

scalar = StandardScaler(with_mean=False)
scalar.fit(df_final_merge_scaled.drop(['CustomerKey','ProductSubcategoryAlternateKey',
                                'EnglishProductSubcategoryName', 'CustomerName'],axis=1))
scaled = scalar.transform(df_final_merge_scaled.drop(['CustomerKey','ProductSubcategoryAlternateKey',
                                                              'EnglishProductSubcategoryName', 'CustomerName'],
                                                             axis=1))

df_final_merge_scaled['PurchaseCount'] = scaled
df_final_merge_scaled.head(10)

   CustomerKey  ...  PurchaseCount
0        21768  ...       1.474914
1        14501  ...       1.474914
2        27645  ...       1.474914
3        16624  ...       1.474914
4        27621  ...       1.474914
5        27616  ...       1.474914
6        20042  ...       1.474914
7        16351  ...       1.474914
8        16517  ...       1.474914
9        27606  ...       1.474914

[10 rows x 5 columns]

In [ ]:
df_final_merge_scaled.to_csv('ScaledProductCountDataset.csv', index=False)
ScaledActions = tc.SFrame.read_csv('ScaledProductCountDataset.csv')

Finished parsing file /content/ScaledProductCountDataset.csv

Parsing completed. Parsed 100 lines in 0.111688 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,str,str,float]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /content/ScaledProductCountDataset.csv

Parsing completed. Parsed 44734 lines in 0.071855 secs.

In [ ]:
ScaledTraining_data, ScaledValidation_data = tc.recommender.util.random_split_by_user(ScaledActions,'CustomerKey',
                                                                          'ProductSubcategoryAlternateKey')
ScaledModel = tc.recommender.create(ScaledTraining_data, 'CustomerKey', 'ProductSubcategoryAlternateKey',
                              target= 'PurchaseCount')

Preparing data set.

    Data has 44275 observations with 18429 users and 17 items.

    Data prepared in: 0.111588s

Training ranking_factorization_recommender for recommendations.

+--------------------------------+--------------------------------------------------+----------+

| Parameter                      | Description                                      | Value    |

+--------------------------------+--------------------------------------------------+----------+

| num_factors                    | Factor Dimension                                 | 32       |

| regularization                 | L2 Regularization on Factors                     | 1e-09    |

| solver                         | Solver used for training                         | adagrad  |

| linear_regularization          | L2 Regularization on Linear Coefficients         | 1e-09    |

| ranking_regularization         | Rank-based Regularization Weight                 | 0.25     |

| max_iterations                 | Maximum Number of Iterations                     | 25       |

+--------------------------------+--------------------------------------------------+----------+

  Optimizing model using SGD; tuning step size.

  Using 10000 / 44275 points for tuning the step size.

+---------+-------------------+------------------------------------------+

| Attempt | Initial Step Size | Estimated Objective Value                |

+---------+-------------------+------------------------------------------+

| 0       | 12.5              | Not Viable                               |

| 1       | 3.125             | Not Viable                               |

| 2       | 0.78125           | Not Viable                               |

| 3       | 0.195312          | 0.302985                                 |

| 4       | 0.0976562         | 0.0664598                                |

| 5       | 0.0488281         | 0.0119685                                |

| 6       | 0.0244141         | 0.00403542                               |

| 7       | 0.012207          | 0.0166701                                |

+---------+-------------------+------------------------------------------+

| Final   | 0.0244141         | 0.00403542                               |

+---------+-------------------+------------------------------------------+

Starting Optimization.

+---------+--------------+-------------------+-----------------------+-------------+

| Iter.   | Elapsed Time | Approx. Objective | Approx. Training RMSE | Step Size   |

+---------+--------------+-------------------+-----------------------+-------------+

| Initial | 111us        | 1.96015           | 0.999782              |             |

+---------+--------------+-------------------+-----------------------+-------------+

| 1       | 179.582ms    | 0.0979583         | 0.21608               | 0.0244141   |

| 2       | 316.983ms    | 0.0425728         | 0.193452              | 0.0244141   |

| 3       | 448.724ms    | 0.0108936         | 0.0985309             | 0.0244141   |

| 4       | 567.666ms    | 0.00300061        | 0.0517277             | 0.0244141   |

| 5       | 680.644ms    | 0.000914455       | 0.0285756             | 0.0244141   |

| 10      | 1.23s        | 3.13198e-05       | 0.00503506            | 0.0244141   |

| 14      | 1.67s        | 1.06194e-05       | 0.00292663            | 0.0244141   |

+---------+--------------+-------------------+-----------------------+-------------+

Optimization Complete: Convergence on objective within bounds.

Computing final objective value and training RMSE.

       Final objective value: 3.10972e-05

       Final training RMSE: 0.00536669

In [ ]:
r = ScaledModel.recommend(users=[28203], k=5)

In [ ]:
r

Columns:
	CustomerKey	int
	ProductSubcategoryAlternateKey	int
	score	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------------+--------------------+------+
| CustomerKey | ProductSubcategoryAlternateKey |       score        | rank |
+-------------+--------------------------------+--------------------+------+
|    28203    |               37               | 1.4264815588625668 |  1   |
|    28203    |               2                | 1.1484586418750284 |  2   |
|    28203    |               26               | 1.0683089521857498 |  3   |
|    28203    |               1                | 1.0596652113976477 |  4   |
|    28203    |               32               | 1.0359873612555264 |  5   |
+-------------+--------------------------------+--------------------+------+
[5 rows x 4 columns]

In [ ]:
def recommendProducts(s):
  name = df_custKeyName.loc[df_custKeyName['CustomerKey'] == s, 'CustomerName'].iloc[0]
  print(s,' Customer Name: ', name, ', Recommendations:\n')
  results = ScaledModel.recommend(users=[s], k=7)
  for i in results['ProductSubcategoryAlternateKey']:
    print(df_subCatNames.loc[df_subCatNames.ProductSubcategoryAlternateKey == i,
                             'EnglishProductSubcategoryName'].values[0])

#### <a id='211'> 2.1.1. Sample Recommendations </a>

In [ ]:
recommendProducts(11449) # recommendProducts(CustomerID)

11449  Customer Name:  Alvin E Hu , Recommendations:

Road Bikes
Bike Racks
Helmets
Cleaners
Hydration Packs
Bike Stands
Bottles and Cages

In [ ]:
recommendProducts(28204)

28204  Customer Name:  Peter K Xu , Recommendations:

Tires and Tubes
Road Bikes
Mountain Bikes
Cleaners
Bike Racks
Bottles and Cages
Hydration Packs

---
#### <a id='212'> 2.1.2. Model Evaluation </a>

In [ ]:
ScaledEval = ScaledModel.evaluate(ScaledValidation_data)
ScaledEval

Precision and recall summary statistics by cutoff
+--------+---------------------+---------------------+
| cutoff |    mean_precision   |     mean_recall     |
+--------+---------------------+---------------------+
|   1    |  0.2698412698412699 | 0.23434744268077604 |
|   2    | 0.22486772486772486 | 0.39616402116402116 |
|   3    | 0.17283950617283947 |  0.4497354497354497 |
|   4    | 0.15145502645502654 |  0.5207231040564374 |
|   5    |  0.1375661375661375 |  0.5899470899470898 |
|   6    |  0.1252204585537919 |  0.6360229276895945 |
|   7    | 0.11640211640211642 |  0.6924603174603174 |
|   8    | 0.10681216931216932 |  0.7224426807760143 |
|   9    | 0.10052910052910057 |   0.76521164021164  |
|   10   | 0.09503233392122282 |  0.8004850088183421 |
+--------+---------------------+---------------------+
[10 rows x 3 columns]


Overall RMSE: 0.15629240602687172

Per User RMSE (best)
+-------------+------------------------+-------+
| CustomerKey |          rmse          | count |
+-------------+------------------------+-------+
|    12191    | 0.00022858118526231097 |   1   |
+-------------+------------------------+-------+
[1 rows x 3 columns]


Per User RMSE (worst)
+-------------+--------------------+-------+
| CustomerKey |        rmse        | count |
+-------------+--------------------+-------+
|    13873    | 0.6281024394703394 |   1   |
+-------------+--------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (best)
+--------------------------------+--------------------+-------+
| ProductSubcategoryAlternateKey |        rmse        | count |
+--------------------------------+--------------------+-------+
|               23               | 0.0055748450271456 |   1   |
+--------------------------------+--------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+--------------------------------+--------------------+-------+
| ProductSubcategoryAlternateKey |        rmse        | count |
+--------------------------------+--------------------+-------+
|               37               | 0.2203855120542011 |   88  |
+--------------------------------+--------------------+-------+
[1 rows x 3 columns]

{'precision_recall_by_user': Columns:
 	CustomerKey	int
 	cutoff	int
 	precision	float
 	recall	float
 	count	int

 Rows: 6804

 Data:
 +-------------+--------+-----------+--------+-------+
 | CustomerKey | cutoff | precision | recall | count |
 +-------------+--------+-----------+--------+-------+
 |    27671    |   1    |    0.0    |  0.0   |   1   |
 |    27671    |   2    |    0.0    |  0.0   |   1   |
 |    27671    |   3    |    0.0    |  0.0   |   1   |
 |    27671    |   4    |    0.0    |  0.0   |   1   |
 |    27671    |   5    |    0.0    |  0.0   |   1   |
 |    27671    |   6    |    0.0    |  0.0   |   1   |
 |    27671    |   7    |    0.0    |  0.0   |   1   |
 |    27671    |   8    |    0.0    |  0.0   |   1   |
 |    27671    |   9    |    0.0    |  0.0   |   1   |
 |    27671    |   10   |    0.0    |  0.0   |   1   |
 +-------------+--------+-----------+--------+-------+
 [6804 rows x 5 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'precision_recall_overall': Columns:
 	cutoff	int
 	precision	float
 	recall	float

 Rows: 18

 Data:
 +--------+---------------------+---------------------+
 | cutoff |      precision      |        recall       |
 +--------+---------------------+---------------------+
 |   1    |  0.2698412698412699 | 0.23434744268077604 |
 |   2    | 0.22486772486772486 | 0.39616402116402116 |
 |   3    | 0.17283950617283947 |  0.4497354497354497 |
 |   4    | 0.15145502645502654 |  0.5207231040564374 |
 |   5    |  0.1375661375661375 |  0.5899470899470898 |
 |   6    |  0.1252204585537919 |  0.6360229276895945 |
 |   7    | 0.11640211640211642 |  0.6924603174603174 |
 |   8    | 0.10681216931216932 |  0.7224426807760143 |
 |   9    | 0.10052910052910057 |   0.76521164021164  |
 |   10   | 0.09503233392122282 |  0.8004850088183421 |
 +--------+---------------------+---------------------+
 [18 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_by_item': Columns:
 	ProductSubcategoryAlternateKey	int
 	rmse	float
 	count	int

 Rows: 17

 Data:
 +--------------------------------+----------------------+-------+
 | ProductSubcategoryAlternateKey |         rmse         | count |
 +--------------------------------+----------------------+-------+
 |               20               | 0.12241429334153621  |   15  |
 |               22               | 0.047688933615635296 |   10  |
 |               29               | 0.06428349760287864  |   12  |
 |               19               | 0.13216849412783924  |   22  |
 |               2                |  0.1603274926325501  |   70  |
 |               23               |  0.0055748450271456  |   1   |
 |               30               | 0.09725399812968291  |   28  |
 |               3                | 0.07432926009658224  |   24  |
 |               1                | 0.12386254672099938  |   41  |
 |               21               | 0.12822872666864546  |   30  |
 +--------------------------------+----------------------+-------+
 [17 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_by_user': Columns:
 	CustomerKey	int
 	rmse	float
 	count	int

 Rows: 378

 Data:
 +-------------+-----------------------+-------+
 | CustomerKey |          rmse         | count |
 +-------------+-----------------------+-------+
 |    16580    |  0.20493985962970135  |   2   |
 |    14446    |   0.2718360962027049  |   1   |
 |    22985    |  0.01636176456217253  |   1   |
 |    14530    |  0.08917085245785472  |   1   |
 |    14279    |  0.12036419070835369  |   3   |
 |    25198    |  0.014988720710531644 |   1   |
 |    17911    |  0.17232566459035992  |   1   |
 |    27132    |  0.08463319677927972  |   1   |
 |    17438    |  0.18824436386627474  |   1   |
 |    25952    | 0.0005728005762463129 |   1   |
 +-------------+-----------------------+-------+
 [378 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_overall': 0.15629240602687172}

---
### <a id='22'> 2.2. Recommendations based on Non-Scaled PurchaseCount </a>

In [ ]:
training_data, validation_data = tc.recommender.util.random_split_by_user(actions,'CustomerKey',
                                                                          'ProductSubcategoryAlternateKey')

model = tc.recommender.create(training_data, 'CustomerKey', 'ProductSubcategoryAlternateKey',
                              target= 'PurchaseCount')

Preparing data set.

    Data has 44275 observations with 18429 users and 17 items.

    Data prepared in: 0.119584s

Training ranking_factorization_recommender for recommendations.

+--------------------------------+--------------------------------------------------+----------+

| Parameter                      | Description                                      | Value    |

+--------------------------------+--------------------------------------------------+----------+

| num_factors                    | Factor Dimension                                 | 32       |

| regularization                 | L2 Regularization on Factors                     | 1e-09    |

| solver                         | Solver used for training                         | adagrad  |

| linear_regularization          | L2 Regularization on Linear Coefficients         | 1e-09    |

| ranking_regularization         | Rank-based Regularization Weight                 | 0.25     |

| max_iterations                 | Maximum Number of Iterations                     | 25       |

+--------------------------------+--------------------------------------------------+----------+

  Optimizing model using SGD; tuning step size.

  Using 10000 / 44275 points for tuning the step size.

+---------+-------------------+------------------------------------------+

| Attempt | Initial Step Size | Estimated Objective Value                |

+---------+-------------------+------------------------------------------+

| 0       | 12.5              | 325437                                   |

| 1       | 6.25              | 339813                                   |

| 2       | 3.125             | 422672                                   |

| 3       | 1.5625            | 456462                                   |

+---------+-------------------+------------------------------------------+

| Final   | 12.5              | 325437                                   |

+---------+-------------------+------------------------------------------+

Starting Optimization.

+---------+--------------+-------------------+-----------------------+-------------+

| Iter.   | Elapsed Time | Approx. Objective | Approx. Training RMSE | Step Size   |

+---------+--------------+-------------------+-----------------------+-------------+

| Initial | 144us        | 5.86483e+07       | 5469.57               |             |

+---------+--------------+-------------------+-----------------------+-------------+

| 1       | 156.332ms    | 961115            | 770.105               | 12.5        |

| 2       | 303.817ms    | 418609            | 613.524               | 12.5        |

| 3       | 452.849ms    | 380861            | 589.272               | 12.5        |

| 4       | 601.25ms     | 308643            | 532.237               | 12.5        |

| 5       | 737.692ms    | 247308            | 479.485               | 12.5        |

| 10      | 1.39s        | 148481            | 372.257               | 12.5        |

| 25      | 3.34s        | 99285.6           | 305.452               | 12.5        |

+---------+--------------+-------------------+-----------------------+-------------+

Optimization Complete: Maximum number of passes through the data reached.

Computing final objective value and training RMSE.

       Final objective value: 108673

       Final training RMSE: 319.12

In [ ]:
def recommendProducts(s):
  name = df_custKeyName.loc[df_custKeyName['CustomerKey'] == s, 'CustomerName'].iloc[0]
  print(s,' Customer Name: ', name, ', Recommendations:\n')
  results = model.recommend(users=[s], k=7)
  for i in results['ProductSubcategoryAlternateKey']:
    print(df_subCatNames.loc[df_subCatNames.ProductSubcategoryAlternateKey == i,
                             'EnglishProductSubcategoryName'].values[0])

##### <a id='221'> 2.2.1. Sample Recommendations </a>

In [ ]:
recommendProducts(11449) # recommendProducts(CustomerID)

11449  Customer Name:  Alvin E Hu , Recommendations:

Jerseys
Hydration Packs
Helmets
Fenders
Bike Stands
Bottles and Cages
Bike Racks

In [ ]:
recommendProducts(28203)

28203  Customer Name:  Victor I Gomez , Recommendations:

Road Bikes
Socks
Gloves
Bottles and Cages
Jerseys
Mountain Bikes
Caps

---
#### <a id='222'> 2.2.2. Model Evaluation </a>

In [ ]:
eval = model.evaluate(validation_data)
eval

Precision and recall summary statistics by cutoff
+--------+---------------------+---------------------+
| cutoff |    mean_precision   |     mean_recall     |
+--------+---------------------+---------------------+
|   1    | 0.17724867724867724 | 0.15057319223985902 |
|   2    | 0.16931216931216936 | 0.28990299823633164 |
|   3    | 0.13315696649029984 |  0.3353174603174603 |
|   4    | 0.11706349206349206 | 0.38977072310405636 |
|   5    |  0.1068783068783069 | 0.45458553791887113 |
|   6    | 0.09788359788359788 |  0.5008818342151675 |
|   7    | 0.09372637944066514 |  0.5553350970017638 |
|   8    | 0.09027777777777776 |  0.6086860670194004 |
|   9    | 0.08818342151675487 |  0.667768959435626  |
|   10   | 0.08736037624926513 |  0.7277336860670196 |
+--------+---------------------+---------------------+
[10 rows x 3 columns]


Overall RMSE: 502.3140425260383

Per User RMSE (best)
+-------------+--------------------+-------+
| CustomerKey |        rmse        | count |
+-------------+--------------------+-------+
|    13461    | 0.9669132660674222 |   1   |
+-------------+--------------------+-------+
[1 rows x 3 columns]


Per User RMSE (worst)
+-------------+-------------------+-------+
| CustomerKey |        rmse       | count |
+-------------+-------------------+-------+
|    13873    | 2061.074816985016 |   1   |
+-------------+-------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (best)
+--------------------------------+-------------------+-------+
| ProductSubcategoryAlternateKey |        rmse       | count |
+--------------------------------+-------------------+-------+
|               21               | 294.4105949822939 |   30  |
+--------------------------------+-------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+--------------------------------+------------------+-------+
| ProductSubcategoryAlternateKey |       rmse       | count |
+--------------------------------+------------------+-------+
|               25               | 968.214043746902 |   4   |
+--------------------------------+------------------+-------+
[1 rows x 3 columns]

{'precision_recall_by_user': Columns:
 	CustomerKey	int
 	cutoff	int
 	precision	float
 	recall	float
 	count	int

 Rows: 6804

 Data:
 +-------------+--------+---------------------+--------+-------+
 | CustomerKey | cutoff |      precision      | recall | count |
 +-------------+--------+---------------------+--------+-------+
 |    27671    |   1    |         0.0         |  0.0   |   1   |
 |    27671    |   2    |         0.0         |  0.0   |   1   |
 |    27671    |   3    |         0.0         |  0.0   |   1   |
 |    27671    |   4    |         0.25        |  1.0   |   1   |
 |    27671    |   5    |         0.2         |  1.0   |   1   |
 |    27671    |   6    | 0.16666666666666666 |  1.0   |   1   |
 |    27671    |   7    | 0.14285714285714285 |  1.0   |   1   |
 |    27671    |   8    |        0.125        |  1.0   |   1   |
 |    27671    |   9    |  0.1111111111111111 |  1.0   |   1   |
 |    27671    |   10   |         0.1         |  1.0   |   1   |
 +-------------+--------+---------------------+--------+-------+
 [6804 rows x 5 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'precision_recall_overall': Columns:
 	cutoff	int
 	precision	float
 	recall	float

 Rows: 18

 Data:
 +--------+---------------------+---------------------+
 | cutoff |      precision      |        recall       |
 +--------+---------------------+---------------------+
 |   1    | 0.17724867724867724 | 0.15057319223985902 |
 |   2    | 0.16931216931216936 | 0.28990299823633164 |
 |   3    | 0.13315696649029984 |  0.3353174603174603 |
 |   4    | 0.11706349206349206 | 0.38977072310405636 |
 |   5    |  0.1068783068783069 | 0.45458553791887113 |
 |   6    | 0.09788359788359788 |  0.5008818342151675 |
 |   7    | 0.09372637944066514 |  0.5553350970017638 |
 |   8    | 0.09027777777777776 |  0.6086860670194004 |
 |   9    | 0.08818342151675487 |  0.667768959435626  |
 |   10   | 0.08736037624926513 |  0.7277336860670196 |
 +--------+---------------------+---------------------+
 [18 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_by_item': Columns:
 	ProductSubcategoryAlternateKey	int
 	rmse	float
 	count	int

 Rows: 17

 Data:
 +--------------------------------+--------------------+-------+
 | ProductSubcategoryAlternateKey |        rmse        | count |
 +--------------------------------+--------------------+-------+
 |               20               | 295.5801191362527  |   15  |
 |               22               | 538.8352358368588  |   10  |
 |               29               | 410.7970785884706  |   12  |
 |               19               | 636.2806770966451  |   22  |
 |               2                | 383.7638594715062  |   70  |
 |               23               | 533.7612696458054  |   1   |
 |               30               | 422.3611302897771  |   28  |
 |               3                |  507.233496153277  |   24  |
 |               1                | 437.09612004379636 |   41  |
 |               21               | 294.4105949822939  |   30  |
 +--------------------------------+--------------------+-------+
 [17 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_by_user': Columns:
 	CustomerKey	int
 	rmse	float
 	count	int

 Rows: 378

 Data:
 +-------------+--------------------+-------+
 | CustomerKey |        rmse        | count |
 +-------------+--------------------+-------+
 |    16580    | 295.25235144462926 |   2   |
 |    14446    | 387.7992248107148  |   1   |
 |    22985    | 254.90223600160607 |   1   |
 |    14530    | 61.924442010040366 |   1   |
 |    14279    | 447.62991457913324 |   3   |
 |    25198    | 262.84948341358177 |   1   |
 |    17911    | 223.4082438517762  |   1   |
 |    27132    | 13.509490771179117 |   1   |
 |    17438    | 87.09561948287956  |   1   |
 |    25952    | 586.8748259972381  |   1   |
 +-------------+--------------------+-------+
 [378 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_overall': 502.3140425260383}

---
# <a id='3'> 3. Conclusion </a>

- Model built on Scaled/Normalized PurchaseCount has RMSE: 0.158

- Model built on Non-Scaled PurchaseCount has overall RMSE: 488.01 

- Since the model built on Scaled/Normalized PurchaseCount has very good RMSE value, we choose it for our Recommendation Engine